@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Witness the latest in <a asp-controller="Home" asp-action="Tester">Palindrome Testing</a> technology.</p>
</div>
